<h1>Create a new gem</h1>

<% if @conversation.errors.any? %>
  <% @conversation.errors.full_messages.each do |message|%>\
  <h3><%= message %> </h3>
  <%end%>
<%end%>

<%= form_with model: [:group, @conversation] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.hidden_field :group_id %>
  <br>
  <%= f.submit "Create gem", class: "btn btn-primary" %>
<% end %>
