<h1>Your groups</h1>

<%= turbo_stream_from "groups" %>

<%= turbo_frame_tag "group_form" do %>
  <%= render "form", group: @group %>
<% end %>

<%= turbo_frame_tag "groups" do %>
  <%= render @admin_groups %>
<% end %>

