<h1>Create a new group</h1>

<% if @group.errors.any? %>
  <% @group.errors.full_messages.each do |message|%>\
  <h3><%= message %> </h3>
  <%end%>
<%end%>

<%= form_with model: @group do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.fields_for :members, @group.members do |gmf| %>
    <%= gmf.label :nick_name %>
    <%= gmf.text_field :nick_name %>
    <br>
  <% end %>
  <br>
  <%= f.submit "Create group", class: "btn btn-primary" %>
<% end %>
